# File environment variables (API keys)
.env

# LightRAG storage directory
rag_storage/
*.graphml
*.json
*.log

# Python cache
__pycache__/
*.pyc
.idea
# Virtual environment (jika ada)
venv/
env/
.venv/

# IDE / Editor
.vscode/
.idea/
*.swp

# OS metadata
.DS_Store
Thumbs.db

# Dataset besar (jika tidak ingin di-commit)
2026/
gemini_rag_storage/
*.txt
deep_seek_rag_storage
openai_rag_storage
